<h2>Create New Landmark</h2>

<form action="/landmarks/:id" method="post">
  <label for="">
    Landmark name: <input type="text" name="name" value="">
  </label>
  <br><br>
  <label for="">
    Year completed: <input type="text" name="year_completed" value="">
  </label>
  <br><br>
  <input type="submit" name="" value="Submit">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
