<form method = "post" action = "/figures/<%= @figure.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type = "text" name = "figure[name]" value = "<%= @figure.name %>" id = "figure_name">
  <input type = "text" name = "figure[title_ids]" value = "<%= @figure.titles %>" id = "new_title">
  <input type = "text" name = "figure[landmark_ids]" value = "<%= @figure.landmarks%>" id = "new_landmark">
  <input type = "submit" value = "Edit Figure">
</form>
