<h2>Create New Figure</h2>

<form action="/figures/:id" method="post">
  <label for="">
    Figure name: <input type="text" name="name" value="">
  </label>
  <br><br>
  <input id="submit_id" type="submit" name="" value="Submit">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
